{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">

                <h1 class="text-center">
                    {% if object %}
                    {% trans 'Post Edit' %}

                    {% else %}
                    {% trans 'Post Add' %}

                    {% endif %}
                    <hr />

                </h1>
            </div>
            <div class="col-md-7 m-auto">
                <form enctype="multipart/form-data" method="POST" id='add-post-form'>
                    {% csrf_token %}
                    {{form|crispy}}
                    <div style="height:50px;"></div>
                    <div class="btn-test">
                        <button class="btn btn-info add-post-btn" type="submit">
                            {% if object %}
                            {% trans 'Edit' %}
                            {% else %}
                            {% trans 'Add' %}
                            {% endif %}
                        </button>
                    </div>
                </form>


                <br />
                <form action="" method="post" enctype="multipart/form-data">
                    <!-- file input -->
                    <input type="file" name="files" class="files">

                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block js %}
     <script>
        $(function () {
            
            $('#id_main_image').fileuploader({
                limit: 1,
                maxSize: 1,
                fileMaxSize: 1,
                extensions: ['jpg', 'png', 'gif', 'tiff', 'psd'],

            });
 })
 })
    </script>
    
    {% endblock %}