{% extends 'index.html' %}
{% load i18n %}
{% block title%}
{{post.title}}
{% endblock %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-10 m-auto post-detail">
                {% if post.main_image %}
                <div class="post-main-image" style="
                    height: 300px;
                    background-size: cover;
                    background-image:url({{post.main_image.url}})">
                </div>
                {% endif %}

                <div class="post-content">
                    <h1 class="post-title text-center">
                        <br />
                        {{post.title}}
                        <hr />
                    </h1>

                    <p class="lead">
                        {{post.overview}}
                        <br />
                        <br />
                    </p>
                    <p class="lead">
                        {{post.safe_content}}
                    </p>
                </div>
                <hr />
                <div class="post-publisher">
                    <br />
                    <span class="publisher">{% trans 'Publisher' %} <strong>{{post.author.username}}</strong> </span><br />
                    <span class="publish-date"> {% trans 'Publication Date' %} <strong>{{post.timestamp}}</strong> </span>
                </div>
            </div>
           
        </div>
    </div>
</section>
{% endblock %}