{% extends 'index.html' %}
{% block title%}
{{post.title}}
{% endblock %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-10 m-auto post-detail">
                {% if post.main_image %}
                <div class="post-main-image" style="
                    height: 300px;
                    background-size: cover;
                    background-image:url({{post.main_image.url}})">
                </div>
                {% endif %}

                <div class="text-right">
                    <br />
                    <span class="publisher"> الناشر <strong>{{post.author.username}}</strong> </span><br />
                    <span class="publish-date"> تاريخ النشر <strong>{{post.timestamp}}</strong> </span>
                </div>

                <div>
                    <h1 class="">
                        <br />
                        {{post.title}}
                        <hr />
                    </h1>

                    <p class="lead">{{post.overview}}</p>
                    <p class="lead">{{post.safe_content}}</p>
                </div>
            </div>
           
        </div>
    </div>
</section>
{% endblock %}