{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">

                <h1 class="text-center">
                    {% if student %}
                    {% if request.session.lang == 'ar' %}
                    تعديل بيانات
                    الطالب 
                    {{student.get_std_name}}
                    {% else %}
                     
                    Edit Student {{student.get_std_name}}  information
                    {% endif %}
                    {% else %}
                    {% trans 'Add a new student' %}
                    {% endif %}
                    <hr />

                </h1>
            </div>
            <div class="col-md-12">
                <form enctype="multipart/form-data" method="POST" id='add-student-form'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-7 m-auto">
                            {{form|crispy}}

                            <br />
                            <hr />
                        </div>

                    </div>

                    <div class="btn-test">
                        <button class="btn btn-info add-post-btn" type="submit">
                            {% if object %}
                            {% trans 'Edit' %}
                            {% else %}
                            {% trans 'Add' %}
                            {% endif %}
                        </button>
                    </div>
                </form>
                <br />
            </div>
        </div>
    </div>

    {% endblock %}