{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% if student %}
    {% if request.session.lang == 'ar' %}
    تعديل بيانات
    الطالب 
    {{student.get_std_name}}
    {% else %}
        
    Edit Student {{student.get_std_name}}  information
    {% endif %}
    {% else %}
    {% trans 'Add a new student' %}
    {% endif %}
{% endblock  %}
{% block content %}
{% load crispy_forms_tags %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">

                <h1 class="text-center">
                    {% if student %}
                    {% if request.session.lang == 'ar' %}
                    تعديل بيانات
                    الطالب 
                    {{student.get_std_name}}
                    {% else %}
                     
                    Edit Student {{student.get_std_name}}  information
                    {% endif %}
                    {% else %}
                    {% trans 'Add a new student' %}
                    {% endif %}
                    <hr />

                </h1>
            </div>
            <div class="col-md-12">
                <form enctype="multipart/form-data" method="POST" id='add-student-form'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-7 m-auto">
                            {{form|crispy}}
                            <input type="hidden" name='id' value='{{student.id}}' />
                        </div>
                    </div>

                    <div class="">
                        <button class="" type="submit">
                            {% if object %}
                            {% trans 'Edit' %}
                            {% else %}
                            {% trans 'Add' %}
                            {% endif %}
                        </button>
                    </div>
                </form>
                <br />
            </div>
        </div>
    </div>

    {% endblock %}
    {% block js %}
        <script>
            $(function () {

                let myvar = $('#id_image').fileuploader({
                    limit: 1,
                    maxSize: 1,
                    fileMaxSize: 1,
                    extensions: ['jpg', 'png', 'gif', 'tiff', 'psd'],

                });
                
                

            })
        </script>
    {% endblock %}