{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% if request.session.lang == 'ar' %}
بيانات 
{{student.get_std_name}}
{% else %}
{{student.get_std_name}} Info
{% endif %}
{% endblock  %}
{% block content %}

<div class="container">
   <div class="">
                {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                        {% endfor %}

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                </div>
                {% endif %}
            </div>
    <section>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                    <th scope="col">{% trans 'ID Number'%}</th>
                    <th scope="col">{% trans 'First Name' %}</th>
                    <th scope="col">{% trans 'Father Name' %}</th>
                    <th scope="col">{% trans 'Mother Name' %}</th>
                    <th scope="col">{% trans 'Grandfather Name' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th>{{student.id}}</th>
                    <td>{{student.first_name}}</td>
                    <td>{{student.father_name}}</td>
                    <td>{{student.mother_name}}</td>
                    <td>{{student.grand_father_name}}</td>
                    </tr>
                    <tr>
                    
                    <td colspan='5'></td>
                    </tr>
                    <tr>
                    <th scope="col">{% trans 'Surname' %}</th>
                    <th scope="col">{% trans 'Birth Date'%}</th>
                    <th scope="col">{% trans 'Age' %}</th>
                    <th scope="col">{% trans 'Gender'%}</th>
                    <th scope="col">{% trans 'Nationality' %}</th>
                    </tr>
                    
                    <tr>
                    <td>{{student.surname}}</td>
                    <td>{{student.birth_date}}</td>
                    <td>{{student.age}}</td>
                    
                    {% include 'main/snippets/gender.html' %}
                    
                    <td>{% trans student.nationality %}</td>
                    </tr>
                    <tr>
                    
                    <td colspan='5'></td>
                    </tr>
                    <tr>
                    <th scope="col">{% trans 'Cell Phone Number' %}</th>
                    <th scope="col">{% trans 'Class' %}</th>
                    <th scope="col">{% trans 'Classroom' %}</th>
                    <th scope="col">{% trans 'N.Id Number' %}</th>
                    <th scope="col">{% trans 'Place Of Birth' %} </th>
                    
                    </tr>
                    <tr>
                    <th>{{student.cell_phone}}</th>
                    <td>{{student.the_class.name}}</td>
                    <td>{{student.classroom.name}}</td>
                    <td>{{student.nid_number}}</td>
                    <td>{{student.place_of_birth}}</td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="row text-center">
                    <div class="col-md-4">
                        <a href="{% url 'students:edit' pk=student.id %}" class="btn btn-info">
                            {% trans 'Edit Information' %}
                        </a>
                         <a href="{% url 'students:delete' pk=student.id %}"
                            class="btn btn-danger">
                            {% trans 'Delete' %}
                        </a>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                            <a href="{% url 'students:printable-detail' pk=student.id %}" 
                            class="btn btn-link">
                            <span>
                            {% trans 'Printable Configuration' %}
                            </span>
                            </a>
                          
                    </div>

        </div>
              <hr />
                            <br />
</section>
<section class='dashboard'>     
    <div class='row'>       
            <div class="col-md-12">   
                <div class="row">
                    <div class='col-md-6 m-auto'>
                    <h1 class="text-center"> {% trans 'Student results' %} 
                    <hr />
                    </h1>
                    </div>
                    <div class="col-md-12 ">
                        <a href="{% url 'students:add-results-paper' %}?std_id={{student.id}}" 
                        class="add-button">
                            <i class="fas fa-plus fa-lg"></i>
                           {% trans 'Add result' %} 
                        </a>
                        <br />
                        <br />
                    </div>

                    {% if student.papers.all %}
                    <div class="col-md-12 text-right">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col">
                                    {% trans 'Class' %}
                                    </th>
                                    <th scope="col">
                                    {% trans 'First semester grades' %}
                                    </th>
                                    <th scope="col">
                                    {% trans 'Second semester grades' %}
                                    </th>
                                    <th scope="col">
                                    {% trans 'Third semester grades' %}
                                    </th>
                                    <th scope="col">
                                        
                                        {% trans 'Second attempt grades' %}
                                         </th>
                                    <th scope="col">
                                        {% trans 'Third attempt grades' %}
                                    </th>

                                    <th scope="col"> {% trans 'Control'%}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for paper in student.papers.all %}
                                <tr>
                                    <th scope="row">{{paper.the_class.name}}</th>
                                    {% for semester in paper.semesters.all %}
                                    <td class='text-center'>
                                        <a href="{% url 'students:semester-edit' std_id=student.id pk=semester.id %}"
                                            class="btn btn-info">
                                        {% trans 'Add or Edit' %}
                                        </a>

                                        <a class='semester-toggle btn btn-warning'
                                            href="{% url 'students:semester-active-toggle' pk=semester.id %}">
                                            {% if not semester.active %}
                                            {% trans 'Show' %}
                                            {% else %}
                                            {% trans 'Hide' %}
                                            {% endif %}
                                        </a>
                                    </td>
                                    {% endfor %}
                                    <td class="text-center">
                                        <a href="{% url 'students:compensatory-exam-add' part='2' pk=paper.id %}"
                                            class='btn btn-info'>
                                            {% trans 'Add or Edit' %}
                                        <a class='compensatory-toggle btn btn-warning'
                                            href="{% url 'students:compensatory-toggle' paper_id=paper.id part=2 %}">
                                            {% if not paper.part2 %}
                                            {% trans 'Show' %}
                                            {% else %}
                                            {% trans 'Hide' %}
                                            {% endif %}
                                        </a>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'students:compensatory-exam-add' part='3' pk=paper.id %}"
                                            class='btn btn-info'>
                                             {% trans 'Add or Edit' %}
                                        </a>
                                        <a class='compensatory-toggle btn btn-warning'
                                            href="{% url 'students:compensatory-toggle' paper_id=paper.id part=3 %}">
                                            {% if not paper.part3 %}
                                            {% trans 'Show' %}
                                            {% else %}
                                            {% trans 'Hide' %}
                                            {% endif %}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="{% url 'students:edit-results-paper' pk=paper.id %}"
                                            class="btn btn-info">
                                            {% trans 'Edit' %}
                                        </a>
                                        <a href="{% url 'students:delete-results-paper' pk=paper.id %}"
                                            class="btn btn-danger">
                                            {% trans 'Delete' %}
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="col-md-5">
                        <p>{% trans 'No results were added' %}</p>
                    </div>
                    {% endif %}

                </div>

            </div>

        </div>
</section>
    </div>
{% endblock %}