{% extends 'index.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Search results for' %}
    {% if request.GET.q == ' ' or request.GET.q == '' %}
    - - 
    {% else %}
    {{request.GET.q}}
    {% endif %}

{% endblock  %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load get_lang_names %}
<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">

                <h1 class="text-center">
                    {% trans 'Search results for' %}
                    {% if request.GET.q == ' ' or request.GET.q == '' %}
                    - - 
                    {% else %}
                    {{request.GET.q}}
                    {% endif %}
                    <hr />
                </h1>
            </div>
            <div class="w-100"></div>
            <div id='schedules-id' class="col-md-12">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        {% url 'students:search' as std_search %}
                        {% include 'snippets/student_search_form.html' with action=std_search %}
                        <br />
                    </div>
                    {% if students %}
                    <div class="col-md-12">

                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                        {% trans 'ID' %}


                                    </th>
                                    <th scope="col">
                                        {% trans 'Fullname' %}

                                    </th>
                                    <th scope="col">
                                        {% trans 'Gender' %}


                                    </th>
                                    <th scope="col">
                                        {% trans 'Class' %}


                                    </th>
                                    <th scope="col">
                                        {% trans 'Classroom' %}

                                    </th>
                                    {% if request.user.is_authenticated %}
                                    <th scope="col">
                                        {% trans 'Control' %}

                                    </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <th scope="row">{{student.id}}</th>

                                    <td>
                                        {% if request.user.is_authenticated %}
                                        <a href="{% url 'students:detail' pk=student.id %}">
                                            {{student.get_full_name}}
                                        </a>
                                        {% else %}
                                        {{student.get_full_name}}
                                        {% endif %}
                                    </td>
                                    <td>
                                    {% with gender=student.gender|capfirst  %}
                                    {% trans gender  %}
                                    {% endwith %}
                                    </td>
                                    <td>


                                        {{student.the_class.name}}

                                    </td>
                                    <td>{{student.classroom.name}}</td>

                                    {% if request.user.is_authenticated %}
                                    
                                    <td>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="{% url 'students:edit' pk=student.pk %}" class="btn btn-info">
                                                    {% trans 'Edit' %}
                                                </a>

                                            </div>
                                            <div class="col-md-4">
                                                <a href="{% url 'students:delete' pk=student.pk %}"
                                                    class="btn btn-danger">
                                                    {% trans 'Delete' %}


                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#" class="btn btn-warning">
                                                    {% trans 'Add Result' %}

                                                </a>
                                            </div>

                                        </div>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="w-100"></div>
                    <div class="col-md-6 m-auto">
                        <div class="alert alert-warning">
                            <span>
                                {% trans  'Your search' %}
                                - {{request.GET.q}} -
                                {% trans 'did not match any results' %}
                            </span>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}