{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load get_student_filters %}

<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 class="text-center">
                    نتائج البحث عن
                    {{request.GET.q}}
                    <hr />
                </h1>
            </div>

            <div id='schedules-id' class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {% url 'students:search' as std_search %}
                        {% include 'snippets/student_search_form.html' with action=std_search %}
                        <br />
                    </div>
                    {% if students %}
                    <div class="col-md-12">

                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">إسم الطالب </th>
                                    <th scope="col">الجنس</th>
                                    <th scope="col">الصف</th>
                                    <th scope="col">الرقم الوطني</th>
                                    <th scope="col">التحكم </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <th scope="row">{{student.id}}</th>
                                    <td>{{student.get_full_name}}</td>

                                    <td>{{student.gender|arabic_gender}}</td>
                                    <td>
                                        {{student.the_class.name}} </td>
                                    <td>{{student.id_number}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="{% url 'students:edit' pk=student.pk %}" class="btn btn-info">
                                                    تعديل البيانات
                                                </a>

                                            </div>
                                            <div class="col-md-4">
                                                <a href="{% url 'students:delete' pk=student.pk %}"
                                                    class="btn btn-danger">
                                                    حذف
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="#" class="btn btn-warning">
                                                    إضافة صحيفة
                                                </a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}