{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if request.session.lang == 'ar' %}
    تعديل درجات الفترة
    {{semester.order|human_counter}}
    {% else %}
    Edit {{semester.order|human_counter}} semester grades
    {% endif %}
{% endblock  %}
{% block content %}
{% load crispy_forms_tags %}
{% load get_lang_names %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">
                <h1 class="text-center">
                    {% if request.session.lang == 'ar' %}
                    تعديل درجات الفترة
                    {{semester.order|human_counter}}
                    {% else %}
                    Edit {{semester.order|human_counter}} semester grades
                    {% endif %}
                    <hr />
                </h1>
            </div>
            <div class="col-md-12">
                <form enctype="multipart/form-data" method="POST" id='add-student-form'>
                    {% csrf_token %}
                    <div class="row">

                        {{ formset.management_form }}

                        {% for form in formset %}
                        <div class="col-md-4">
                            <p class="lead">
                                {% if request.session.lang == 'ar' %}
                                مادة
                                {{form.instance.subject.get_name}}
                                {% else %}
                                {{form.instance.subject.get_name}}
                                Subject
                                {% endif %}
                                <hr />
                            </p>
                            {{form|crispy}}
                        </div>
                        {% endfor %}

                        <div class="col-md-12">
                            <div class="btn-test">
                                <br />
                                <button class="btn btn-info add-post-btn" type="submit">
                                    {% trans 'Save' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
            </div>

        </div>

    </div>
</section>
{% endblock %}