{% extends 'index.html' %}

{% block title %}
إعادة تعيين كلمة المرور
{% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">
                <br />
                <br />
                <br />

            </div>
            <div class="col-md-6 m-auto">
                <h1 class="text-center">

                    إعادة تعيين كلمة المرور

                </h1>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-info">
                        إرسال
                    </button>
                </form>
                <!-- <p class="lead text-center">
                    <a href="{% url 'main:home' %}" class="btn btn-link">
                        للرجوع للصفحة الرئيسية
                    </a></p>
                <br /> -->
            </div>
            <div class="col-md-7 m-auto">


            </div>
        </div>
    </div>
    {% endblock %}