{% extends 'index.html' %}

{% block title %}
تغيير كلمة المرور
{% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">
                <br />
                <br />
                <br />

            </div>
            <div class="col-md-6 m-auto">
                <h1 class="text-center">
                    تم
                    تغيير كلمة المرور
                    بنجاح

                </h1>
                <p class="lead text-center">
                    <a href="{% url 'main:home' %}" class="btn btn-link">
                        للرجوع للصفحة الرئيسية
                    </a></p>
                <br />
            </div>
            <div class="col-md-7 m-auto">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>
        </div>
    </div>
    {% endblock %}