{% extends 'index.html' %}
{% load i18n %}
{% block title %}
{% trans 'Password Reset' %}
{% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="text-center">
                    {% trans 'Password Reset' %}
                    <hr />
                </h1>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-info">
                       {% trans 'Send' %}
                    </button>
                </form>
            </div>
            <div class="col-md-7 m-auto">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>
        </div>
    </div>
    {% endblock %}