{% extends 'index.html' %}
{% load i18n %}
{% block title %}
{% trans 'Profile' %}
{% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="text-center">
                    {% trans 'Edit Profile' %}
                    <hr />
                </h1>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6 m-auto">
                <form enctype="multipart/form-data" method="POST" id='add-post-form'>
                    {% csrf_token %}
                    {{form|crispy}}
                        <button type="submit">
                            {% trans 'Edit' %}
                        </button>
                </form>
                <br />
                <div class="change-password">
                    <a href="{% url 'accounts:password_change' %}">
                        {% trans  'Change Password' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}