{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load i18n %}
<section>
    <div class="container about-us">
        <div class="row">
            <div class="col-md-7 m-auto text-right">
                <h1 class="text-center">
                    {% trans 'About School' %}
                    <hr />
                </h1>
            </div>
            <div class="col-md-7 m-auto">

                <p class="lead">
                  <span>إسم المدرسة</span> {{object.name}}
                </p>
                <p class="lead">
                    <span>رقم هاتف المدرسة</span> {{object.school_phone}}
                </p>
            </div>
            <div class="col-md-7 m-auto">
                <span class="school-address-heading">
                    عنوان المدرسة
                <span>
                <ul>
                    <li>الشارع - {{object.street}}</li>
                    <li>المدينة - {{object.city}}</li>
                    {% if object.municipality %}
                    <li>
                        البلدية - {{object.municipality}}
                    </li>
                    {% endif %}
                    {% if object.province %}
                    <li>
                        المقاطعة - {{object.province}}
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-7 m-auto">

                <h5>
                    نبذة عن المدرسة <br />
                </h5>
                    <p>{{object.content}}</p>
            </div>
        </div>
    </div>
    <div class="more-height"></div>
</section>
{% endblock %}