{% extends 'index.html' %}
{% load i18n %}
{% block title %}
 {% trans 'About School' %}
{% endblock %}
{% load static %}
{% block content %}
<section>
    <div class="container about-us">
        <div class="row">
            <div class="col-md-7 m-auto">
                <h1 class="text-center">
                    {% trans 'About School' %}
                    <hr />
                </h1>
            </div>
            <div class="w-100"></div>
            <div class="col-md-7 m-auto">
                <div class="row school-info">
                    <div class="col-md-6">
                        <p class="lead text-center">
                            <span>
                                {% trans 'School Name' %}
                            </span> {{object.name}}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="lead text-center">
                            <span>
                                {% trans 'School Phone Number' %}
                            </span> {{object.school_phone}}
                        </p>
                    </div>
                </div>    
            </div>
            <div class="col-md-7 m-auto">
                <span class="school-address-heading">

                    {% trans 'School Address' %}
                    <span>
                        <ul>
                            <li>


                                {% trans 'Street' %}
                                - {{object.street}}</li>
                            <li>

                                {% trans 'City' %}
                                - {{object.city}}</li>
                            {% if object.municipality %}
                            <li>
                                {% trans 'Municipality' %}
                                - {{object.municipality}}
                            </li>
                            {% endif %}
                            {% if object.province %}
                            <li>
                                {% trans 'Province' %}
                                - {{object.province}}
                            </li>
                            {% endif %}
                        </ul>
            </div>
            <div class="col-md-7 m-auto text-center">
                <hr class="content-divder" />

                <h5>
                    {% trans 'About School' %}
                </h5>
                {% if object.content %}
                <p class="text-center">{{object.safe_content}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="more-height"></div>
</section>
{% endblock %}