{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load i18n %}
<section>
    <div class="container about-us">
        <div class="row">
            <div class="col-md-7 m-auto text-right">
                <h1 class="text-center">
                    {% trans 'About School' %}
                    <hr />
                </h1>
            </div>
            <div class="col-md-7 m-auto">

                <p class="lead">
                    <span>
                        {% trans 'School Name' %}


                    </span> {{object.name}}
                </p>
                <p class="lead">
                    <span>

                        {% trans 'School Phone Number' %}
                    </span> {{object.school_phone}}
                </p>
            </div>
            <div class="col-md-7 m-auto">
                <span class="school-address-heading">

                    {% trans 'School Address' %}
                    <span>
                        <ul>
                            <li>


                                {% trans 'Street' %}
                                - {{object.street}}</li>
                            <li>

                                {% trans 'City' %}
                                - {{object.city}}</li>
                            {% if object.municipality %}
                            <li>
                                {% trans 'Municipality' %}
                                - {{object.municipality}}
                            </li>
                            {% endif %}
                            {% if object.province %}
                            <li>
                                {% trans 'Province' %}
                                - {{object.province}}
                            </li>
                            {% endif %}
                        </ul>
            </div>
            <div class="col-md-7 m-auto text-center">
                <hr class="content-divder" />

                <h5>

                    {% trans 'About School' %}
                </h5>
                {% if object.content %}
                <p>{{object.content}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="more-height"></div>
</section>
{% endblock %}