{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Classrooms Dashboard' %}
{% endblock  %}
{% block content %}
{% load get_lang_names %}

<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">
                <h1 class="text-center">
                    {% trans 'Classrooms Dashboard' %}
                    <hr />
                </h1>
            </div>
          <div class="col-md-7 m-auto ">
                {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                        {% endfor %}

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                </div>
                {% endif %}
            </div>


            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p class="">
                            <a href="{% url 'tables:classrooms-add' %}" class="add-button">
                                <i class="fas fa-plus"></i> 
                                {% trans 'To add a new classroom' %}
                            </a>
                        </p>
                    </div>
                    {% if classrooms %}
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                    {% trans 'Classroom Name' %}
                                    </th>
                                    <th scope="col">
                                    {% trans 'Class'%}
                                    </th>
                                    <th scope="col">
                                    {% trans 'Appearance Order' %}
                                    </th>

                                    <th scope="col">{% trans 'Control' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cls in classrooms %}
                                <tr>
                                    <td>{{cls.name}}</td>
                                    <td>{{cls.the_class.name}}</td>

                                    <th>{{cls.order|human_counter}}</th>


                                    <td>
                                        <a href="{% url 'tables:classrooms-edit' pk=cls.id %}" class="btn btn-info">
                                            {% trans 'Edit' %}
                                        </a>
                                        <a href="{% url 'tables:classrooms-delete' pk=cls.id %}" class="btn btn-danger">
                                            {% trans 'Delete' %}
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}