{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans 'Classes Schedules Dashboard' %}
{% endblock  %}
{% block content %}


<section class="dashboard">
    <div class="container">
        <div class="row">

            <div class="col-md-8 m-auto">

                <h1 class="text-center">
                    {% trans 'Classes Schedules Dashboard' %}
                    <hr />
                </h1>

            </div>

            <div class="col-md-7 m-auto ">
                {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                        {% endfor %}

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                </div>
                {% endif %}
            </div>
            <div id='schedules-id' class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p class="">
                            <a href="{% url 'tables:add-full-schedule' %}" class="add-button">
                                <i class="fas fa-plus"></i>
                                {% trans 'To add a new classes schedule' %}
                            </a>
                        </p>
                    </div>

                    {% if class_rooms %}
                    {% for class in class_rooms %}
                    {% if class.days.all %}
                    <div class="col-md-12">
                        <div id='classroom-schl-{{class.id}}'>
                            <br />
                            <h4>
                                {% if request.session.lang == 'ar' %}
                                الصف
                                {{class.name}}
                                {% else %}
                                {{class.name}}
                                Class
                                {% endif %}
                            </h4>
                        </div>
                        <div class="text-right">
                            <a href="{% url 'tables:edit-full-schedule' class_id=class.id %}" class="btn btn-info">
                                {% trans 'Edit' %}
                            </a>
                            <a href="{% url 'tables:delete-full-schedule' class_id=class.id %}" class="btn btn-info">
                                {% trans 'Delete' %}
                            </a>
                        </div>
                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        {% trans 'Day' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'First Class' %}

                                    </th>
                                    <th scope="col">
                                        {% trans 'Second Class' %}

                                    </th>


                                    <th scope="col">
                                        {% trans 'Third Class' %}

                                    </th>
                                    <th scope="col">
                                        {% trans 'Fourth Class' %}

                                    </th>
                                    <th scope="col">

                                        {% trans 'Fifth Class' %}
                                    </th>
                                    <th scope="col">

                                        {% trans 'Sixth Class' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'Seventh Class' %}

                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for class in class.days.all %}
                                <tr>
                                    <td>{{class.day.get_name}}</td>
                                    <td>{{class.class_1.get_name}}</td>
                                    <td>{{class.class_2.get_name}}</td>
                                    <td>{{class.class_3.get_name}}</td>
                                    <td>{{class.class_4.get_name}}</td>

                                    <td>{{class.class_5.get_name}}</td>
                                    <td>{{class.class_6.get_name}}</td>

                                    <td>
                                        {{class.class_7.get_name}}
                                    </td>



                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                     <div class="col-md-10 m-auto">
                        <p class="text-center lead">{% trans 'No Classes schedule has been added yet' %}</p>
                    </div>
                    {% endif %}
                   
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}