{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans 'Classes Dashboard' %}
{% endblock  %}
{% block content %}
{% load get_lang_names %}
<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">

                <h1 class="text-center">
                    {% trans 'Classes Dashboard' %}
                    <hr />
                </h1>

            </div>
            <div class="col-md-7 m-auto ">
                {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                        {% endfor %}

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                {% endif %}
            </div>

            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-7 m-auto">
                        <p class="text-center">
                            <a href="{% url 'tables:add_class' %}" class="add-button">
                                <i class="fas fa-plus fa-lg"></i>
                                {% trans 'To add a new class' %}
                            </a>
                        </p>
                    </div>
                    {% if classes %}
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        {% trans 'Class Name' %}

                                    </th>
                                    <th scope="col">
                                        {% trans 'Subjects Count' %}

                                    </th>
                                    <th scope="col">
                                        {% trans 'Appearance Order' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'First Semester Degrees' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'Second Semester Degrees' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'Third Semester Degrees' %}
                                    </th>
                                    <th scope="col">{% trans 'Control' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cls in classes %}
                                <tr>
                                    <td>{{cls.name}}</td>
                                    <th>{{cls.subjects_num}}</th>
                                    <th>{{cls.order|human_counter}}</th>

                                    <td>
                                        <a href="{% url 'students:edit-class-grades' pk=cls.id order='1' %}"
                                            class="btn btn-info">
                                            {% trans 'Add or Edit' %}

                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'students:edit-class-grades' pk=cls.id order='2' %}"
                                            class="btn btn-info">
                                            {% trans 'Add or Edit' %}

                                        </a>
                                    </td>

                                    <td>
                                        <a href="{% url 'students:edit-class-grades' pk=cls.id order='3' %}"
                                            class="btn btn-info">
                                            {% trans 'Add or Edit' %}

                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'tables:edit_class' pk=cls.id %}"
                                            class="btn btn-info">
                                            {%trans 'Edit' %}
                                        </a>
                                        <a href="{% url 'tables:delete_class' pk=cls.id %}"
                                            class="btn btn-danger">
                                            {% trans 'Delete' %}
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                     {% else %}
                     <div class="col-md-7 m-auto">
                        <div class="alert alert-info">        
                            <span>{% trans 'No Class have been added yet' %}</span>
                        </div>
                    </div>
                    {% endif %}
                   

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}