{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Exams Dashboard' %}
{% endblock  %}
{% block content %}

<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">

                <h1 class="text-center">
                    {% trans 'Exams Dashboard' %}
                    <hr />
                </h1>
            </div>
            <div class="col-md-7 m-auto ">
                {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                        {% endfor %}

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                </div>
                {% endif %}
            </div>

            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-12">
                        <p class="">
                            <a href="{% url 'tables:exams-tables-add' %}" class="add-button">
                                <i class="fas fa-plus"></i>
                                {% trans 'To add a new exams schedule' %}
                            </a>
                        </p>
                    </div>

                    {% if classes %}
                    {% for class in classes %}
                    {% if class.exams_table.all %}

                    <div class="col-md-12">
                        <div>
                            <br />
                            <h4 class="">
                                الصف
                                {{class.name}}
                            </h4>

                            {% if class.get_mid_exams.all %}
                            <h5>
                                {% trans 'Midterm exams' %}
                            </h5>
                            {% include 'main/snippets/exams_dashboard_table.html' with qs=class.get_mid_exams.all %}
                            {% endif %}

                            {% if class.get_final_exams.all %}
                            <h5>
                                {% trans 'Final exams' %}
                            </h5>
                            {% include 'main/snippets/exams_dashboard_table.html' with qs=class.get_final_exams.all %}
                            {% endif %}
                        </div>

                    </div>

                    {% endif %}

                    {% endfor %}
                    {% else %}
                    <div class="col-md-12">
                        <h4 class='text-center'>
                           {% trans 'No Exams schedule has been added yet' %}
                        </h4>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}