{% extends 'index.html' %}
{% load static %}
{% load i18n %}


{% block title %}{% trans 'Home Page' %}{% endblock %}

{% block content %}

{% include 'snippets/header.html' %}

<div class="container">
    {% for article in main_articles %}
    <section class="home-cards">
        <div class="row align-items-center">
            <div class="col-lg-6 
            {% if not forloop.counter == 2 %} 
                order-lg-2
            {% endif %}
            ">
                <div class="p-5">
                    <img class="img-fluid " src="{{article.image.url}}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    {% if request.session.lang == 'ar' %}
                        <h2 class="">
                            {{article.title}}
                        </h2>
                        <p>
                            {{article.description}}
                        </p>
                  
                    {% else %}
                      {% if article.english_title and article.english_desc %}
                    <h2 class="">
                        {{article.english_title}}
                    </h2>
                    <p>
                        {{article.english_desc}}
                    </p>
                    {% else %}
                    <h2 class="">
                        {{article.title}}
                    </h2>
                    <p>
                        {{article.description}}
                    </p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

    </section>
    {% endfor %}
    <section>
        {% if last_posts %}
        <hr />
        <section>
            <div class="row">
                <div class="col-md-9 m-auto">
                    <h1 class="text-center">
                        {% trans 'Latest News' %}
                    <hr />
                    </h1>
                </div>

                <div class="col-md-9 m-auto">
                    {% for post in  last_posts %}
                     <a class="post-card" href={{post.get_absolute_url}}>
                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                            
                                    <div class="card-body ">
                                    
                                        <h4 class="card-title">{{post.title}}</h4>
                                        <p class="card-text">{{post.overview|truncatewords:30}}</p>
                                        <p class="card-pub-date">
                                            <i class="far fa-clock"></i>
                                            <small class="text-muted">

                                                {% trans 'Published at' %} :

                                                {{post.timestamp}}

                                            </small>
                                        </p>
                                
                                    </div>
                                </div>
                                {% if post.main_image %}
                                <div class="col-md-4">
                                    <div class="card-image">
                                        <img src="{{post.main_image.url}}" class="card-img post-image" alt="...">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                      </a>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
</div>

{% endblock %}