{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Main Quotes Dashboard' %}
{% endblock  %}
{% block content %}
<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">
                <h1 class="text-center">
                    {% trans 'Main Quotes Dashboard' %}
                    <hr />
                </h1>

            </div>
            <div class="col-md-7 m-auto ">
                {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                        {% endfor %}

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                </div>
                {% endif %}
            </div>

            <div class="col-md-12">
                <div class="row">

                    {% if quotes %}
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        {% trans 'Title' %}

                                    </th>
                                    <th scope="col">
                                        {% trans 'English Title' %}
                                    </th>

                                    <th scope="col">{% trans 'Control' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for q in quotes %}
                                <tr>
                                    <td>{{q.title}}</td>

                                    <td>
                                    {% if not q.english_title %}
                                        {% trans 'None' %}
                                    {% else %}
                                    {{q.english_title}}
                                    
                                    {% endif %}
                                    </td>
                                    
                                    <td>
                                        <a href="{% url 'main:main-articles-edit' pk=q.id %}"
                                            class="btn btn-info">
                                            {%trans 'Edit' %}
                                        </a>
                                        
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="col-md-8 m-auto">
                        <h3 class='text-center'>{% trans 'There is no quotes' %}</h3>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}