{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-7 m-auto">
                
                <h1 class="text-center">
                    {% if request.session.lang == 'en' and object.english_title %}
                    Edit {{object.english_title}} Quote
                    {% else %}
                    تعديل إقتباس {{object.title}}
                    {% endif %}
                    <hr />
                </h1>
                <p class='text-center '>
                    {% trans 'The asterisk next to the field title means that field is not optional' %}                    
                    <br />
                </p>
            </div>
            <div class="col-md-12">
                
                <form enctype="multipart/form-data" method="POST" id='add-student-form'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 m-auto">

                            {{form|crispy}}
                            <hr />
                        </div>

                        <div class="col-md-12">
                            <div class="btn-test">
                                <br />
                                <button class="btn btn-info add-post-btn" type="submit">
                                    {% trans 'Edit' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
            </div>
        </div>

    </div>
</section>
{% endblock %}
{% block js %}
     <script>
        $(function () {
            
            $('#id_main_image').fileuploader({
                limit: 1,
                maxSize: 1,
                fileMaxSize: 1,
                extensions: ['jpg', 'png', 'gif', 'tiff', 'psd'],

            });
 })
    </script>
    
    {% endblock %}