{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  {% trans 'Posts Dashboard' %}
{% endblock  %}
{% block content %}
{% load crispy_forms_tags %}
{% load get_lang_names %}
<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">

                <h1 class="text-center">
                    {% trans 'Posts Dashboard' %}
                    <hr />
                </h1>
            </div>
            <div class="col-md-7 m-auto ">
                {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <span text-center">
                        {{ message }}
                    </span>
                    {% endfor %}

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7 m-auto">
                        <p class="text-center">

                            <a href="{% url 'posts:add' %}" class="add-button">
                                <i class="fas fa-plus"></i>
                                {% trans 'New post' %}
                            </a>

                        </p>
                    </div>
                    {% if posts %}
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">

                                        {% trans 'Title' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'Creation Date' %}


                                    </th>
                                    <th scope="col">
                                        {% trans 'Last Modified Date' %}

                                    </th>
                                    <th scope="col">
                                        {% trans 'Publication Date' %}
                                    </th>
                                    <th scope="col">{% trans 'Control' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                <tr>

                                    <td>{{post.title}}</td>
                                    <td>{{post.timestamp}}</td>
                                    <td>{{post.updated}}</td>
                                    <td>{{post.published_date}}</td>
                                    <td>
                                        <a href="{% url 'posts:edit' slug=post.slug %}" class="btn btn-info">
                                            {% trans 'Edit' %}
                                        </a>
                                        <a href="{% url 'posts:delete' slug=post.slug %}" class="btn btn-danger">
                                            {% trans 'Delete' %}
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="col-md-7 m-auto">
                        <div class="alert alert-info">
                           <span>لم يتم إضافة أي منشورات بعد</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>



        </div>
    </div>
</section>

{% endblock %}