{% extends 'index.html' %}
{% load static %}
{% block title %}
تعديل معلومات المدرسة
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">

                <h1 class="text-center">
                    تعديل معلومات المدرسة
                    <hr />

                </h1>
            </div>
            <div class="col-md-7 m-auto">
                <form enctype="multipart/form-data" method="POST" id='add-post-form'>
                    {% csrf_token %}
                    {{form|crispy}}
                    <div style="height:50px;"></div>
                        <button type="submit">
                            تعديل
                        </button>
                </form>
                <br />
            </div>
        </div>
    </div>
    {% endblock %}

    {% block js %}
    <script>
        $(function () {

            $('#id_main_image').fileuploader({
                limit: 1,
                maxSize: 1,
                fileMaxSize: 1,
                extensions: ['jpg', 'png', 'gif', 'tiff', 'psd'],

            });
            const text = $('#myform').text()


        })
    </script>
    {% endblock %}