{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load get_student_filters %}

<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 class="text-center">
                    طلاب الفصل {{classroom_name}}
                    <hr />
                </h1>
            </div>

            <div id='schedules-id' class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lead">ﻹضافة طالب الجديد
                            <br />
                            <a href="{% url 'students:add' %}" class="btn btn-info">إضافة </a>
                        </p>
                    </div>

                    {% if students %}
                    <div class="col-md-12">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">إسم الطالب </th>
                                    <th scope="col">الجنس</th>
                                    <th scope="col">الجنسية</th>
                                    <th scope="col">الرقم الوطني</th>
                                    <th scope="col"> الصحيفة لهذا الفصل</th>
                                    <th scope="col">التحكم </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <th scope="row">{{student.id}}</th>
                                    <td>
                                        <a href="{% url 'students:detail' pk=student.id %}">
                                            {{student.full_name}}
                                        </a>
                                    </td>

                                    <td>{{student.gender|arabic_gender}}</td>
                                    <td>{{student.nationality}} </td>
                                    <td>{{student.id_number}}</td>
                                    <td>
                                        {{student.result}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="{% url 'students:edit' pk=student.id %}" class="btn btn-info">
                                                    تعديل البيانات
                                                </a>

                                            </div>
                                            <div class="col-md-4">
                                                <a href="{% url 'students:delete' pk=student.id %}"
                                                    class="btn btn-danger">
                                                    حذف
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="{% url 'students:add-results-paper'%}?std_id={{student.id}}"
                                                    class="btn btn-warning">
                                                    إضافة صحيفة
                                                </a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>

                    </div>
                    {% else %}
                    <div class="col-md-12">
                        لم يتم إضافة أي طلاب لهذا الفصل
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}