{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Student & Results Dashboard' %}
{% endblock  %}
{% block content %}
{% load crispy_forms_tags %}
{% load get_lang_names %}
<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto ">
                    {% if messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                        <p{% if message.tags %} class="message-p {{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                            {% endfor %}

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                    </div>
                    {% endif %}
                </div>
            <div class="col-md-7 m-auto">

                <h1 class="text-center">
                    {% trans 'Student & Results Dashboard' %}
                    <hr />
                </h1>

            </div>

            <div id='schedules-id' class="col-md-12">
                <div class="row">

                    <div class="col-md-7 m-auto">
                        {% url 'students:search' as std_search %}
                        {% include 'snippets/student_search_form.html' with action=std_search %}
                    </div>
                    <div class="col-md-7 m-auto">
                        <p class="text-center">
                            <a href="{% url 'students:add' %}" class="add-button">
                                <i class="fas fa-plus"></i>
                                {% trans 'To add a new student' %}
                            </a>
                        </p>
                    </div>

                    {% if classes %}
                    {% for class in classes %}
                    {% if class.classrooms.all and class.students.all %}
                    
                    <div class="col-md-12">
                        <div class="">
                            <h4>
                             {% if request.session.lang == 'ar' %}
                                الصف
                                {{class.name}}
                             {% else %}
                             {{class.name}} Class
                             {% endif %}
                            </h4>
                        </div>

                        <table class="table">
                            <thead class="thead-dark">
                                <tr>

                                    <th scope="col">
                                    {% trans 'Class Name'%}
                                     </th>
                                    <th scope="col">
                                    {% trans 'Students Count' %}
                                    </th>
                                    <th scope="col">
                                    {% trans 'Students List'%}
                                    </th>
                                    <th scope="col">
                                     {% trans 'Class Results' %}
                                      </th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for cm in class.classrooms.all %}

                                <tr>

                                    <td>

                                        {{cm.name}}

                                    </td>

                                    <td>{{cm.get_stds_count}}</td>

                                    <td><a class="btn btn-info"
                                            href='{% url "main:students-dashboard" pk=cm.pk %}'>
                                            {% trans 'View'%}</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning"
                                            href='{% url "students:results-activation-confirm" status=1 pk=cm.pk %}'>
                                            {% trans 'Activate all' %}
                                        </a>
                                        <a class="btn btn-danger"
                                            href='{% url "students:results-activation-confirm" status=0 pk=cm.pk %}'>
                                            {% trans 'Deactivate all' %}
                                            </a>
                                    </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}