{% extends 'index.html' %}
{% load i18n %}
{% block title %}
{% trans 'Students List' %}
{% endblock  %}
{% load static %}
{% block content %}
{% load get_lang_names %}
<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">

                <h1 class="text-center">
                    {% trans 'Students List' %}
                    <hr />
                </h1>
            </div>

            <div id='schedules-id' class="col-md-12">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <h4>{% trans  'Find a student' %}</h4>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-6 m-auto">
                        {% url 'students:search' as std_search %}

                        {% include 'snippets/student_search_form.html' with action=std_search %}
                    </div>

                    {% if classes %}
                    {% for class in classes %}
                    {% if class.classrooms.all %}
                    <div class="col-md-12">
                        <div class="">
                            <h4>

                                الصف
                                {{class.name}}
                            </h4>
                        </div>

                        <table class="table">
                            <thead class="thead-dark">
                                <tr>

                                    <th scope="col">
                                        {% trans 'Classroom Name' %}

                                    </th>
                                    <th scope="col">
                                        {% trans 'Students Number' %}

                                    </th>
                                    <th scope="col">
                                        {% trans 'Students List' %}

                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for cm in class.classrooms.all %}
                                <tr>

                                    <td>

                                        {{cm.name}}
                                    </td>

                                    <td>{{cm.get_stds_count}}</td>

                                    <td><a class="btn btn-info"
                                            href='{% url "main:students-classroom-list" pk=cm.pk %}'>
                                            {% trans 'View' %}
                                        </a>
                                    </td>

                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>

                    {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="w-100"></div>
                <div class="col-md-6 m-auto">
                    <div class="alert alert-info">
                        <span class="">
                            {% trans 'No class found' %}
                        </span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}