{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load get_lang_names %}
{% load i18n %}
<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">

                <h1 class="text-center">

                    {% trans  'Students list for' %}

                    {{classroom_name}}
                    <hr />
                </h1>
            </div>

            <div id='schedules-id' class="col-md-12">
                <div class="row">
                    {% if students %}

                    <div class="col-md-12">


                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                        {% trans 'ID' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'Fullname' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'Gender' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'Nationality' %}


                                    </th>
                                    <th scope="col">
                                        {% trans 'NID' %}

                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <th scope="row">{{student.id}}</th>
                                    <td>

                                        {{student.get_full_name}}

                                    </td>

                                    <td>{% trans student.gender %}</td>
                                    <td>{% trans student.nationality %} </td>
                                    <td>{{student.nid_number}}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% else %}
                    <div class="col-md-12">
                        <div class="alert">
                            <span class="display-4 text-center error-alert">
                                {% trans 'No Students found' %}
                            </span>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}