{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load i18n %}

<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">

                <h1 class="text-center">
                    {% trans 'Subjects Dashboard' %}
                    <hr />
                </h1>
            </div>
            <div class="col-md-12">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            </div>


            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-6">
                        <p class="">
                            <a href="{% url 'tabels:subjects-add' %}" class="add-button">
                                <i class="fas fa-plus"></i>
                                لإضافة مادة
                            </a>
                        </p>
                    </div>
                    {% if subjects %}
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">إسم المادة</th>

                                    <th scope="col">التحكم</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subject in subjects %}
                                <tr>
                                    <td>{{subject.name}}</td>

                                    <td>
                                        <a href="{% url 'tabels:subjects-edit' pk=subject.id %}" class="btn btn-info">
                                            تعديل
                                        </a>
                                        <a href="{% url 'tabels:subjects-delete' pk=subject.id %}"
                                            class="btn btn-danger">
                                            حذف
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}