{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Users' %}
{% endblock %}
{% block content %}

<section class="dashboard">
    <div class="container">
        <div class="row">
            
            <div class="col-md-7 m-auto">
                <h1 class="text-center">
                    {% trans 'Users Dashboard' %}
                    <hr />
                </h1>
            </div>
             <div class="col-md-7 m-auto ">
                {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                        {% endfor %}

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                </div>
                {% endif %}
            </div>

            <div id='schedules-id' class="col-md-12">
                <div class="row">

                    {% if users %}
                    <div class="col-md-6">
                        <div>
                        <a href="{% url 'accounts:register' %}" class="add-button">
                                <i class="fas fa-plus"></i>
                                {% trans 'To add a new user' %}
                            </a>
                        <a href="{% url 'accounts:activetion-toggle' status=1 %}"
                            class="btn btn-warning users-activetion-btn">
                            {% trans 'Activate all' %}
                        </a>
                        <a href="{% url 'accounts:activetion-toggle' status=0 %}"
                            class="btn btn-info users-activetion-btn">
                            {% trans 'Deactivate all' %}
                        </a>
                        </div>
                        <br />
                    </div>
                    
                    <div class="col-md-12">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                    {% trans 'ID Number' %}</th>
                                    <th scope="col">
                                    {% trans 'Username' %}
                                    </th>
                                    <th scope="col">
                                    {% trans 'Phone Number' %}
                                    </th>
                                    <th scope="col">
                                    {% trans 'Email' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'Control' %}
                                     </th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <th scope="row">{{user.id}}</th>
                                    
                                    <td>
                                        {{user.username}}
                                    </td>

                                    <td>
                                        {{user.phone_number}}
                                    </td>
                                    <td>
                                        {{user.email}}
                                    </td>

                                    <td>
                                        <div class="row">
                                            
                                            <div class="col-md-4">
                                                {% if not user.is_active %}
                                                <a href="{% url 'accounts:user-activetion-toggle' status=1 pk=user.id  %}"
                                                    class="btn btn-info user-activetion-btn">
                                                    {% trans 'Activate' %}
                                                </a>
                                                {% else %}
                                                <a href="{% url 'accounts:user-activetion-toggle' status=0 pk=user.id  %}"
                                                    class="btn btn-info user-activetion-btn">
                                                    {% trans 'Deactivate' %}
                                                </a>
                                                {% endif %}
                                            </div>

                                            <div class="col-md-4">
                                                <a href="{% url 'accounts:delete' pk=user.pk %}" class="btn btn-danger">
                                                    {% trans 'Delete' %}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% else %}
                    
                    <div class="col-md-7 m-auto">
                        <div class="alert alert-info">
                           <span>{% trans 'No user has been added' %}</span>
                        </div>
                        <br />
                        <br />
                        <br />

                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}