body{
    overflow-x: hidden;
}

:root{
    --main-font: 'Tajawal', sans-serif;;
    --main-color: #e74c3c;
}

*:focus{
    outline: none;
}

/* Start (Navbar) */

.navbar{
    font-family: var(--main-font);
    background-color: #222;
    opacity: 1;
}

.navbar .navbar-brand{
    letter-spacing: 0em !important;
    border-right: 2px solid var(--main-color);
    padding-right: 15px;
    font-size: 18px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.navbar .navbar-brand:hover{
    color: var(--main-color);
    padding-right: 25px;
}

.navbar-custom .navbar-nav .nav-item .nav-link{
    font-size: 15px;
    padding: 4px 0;
    letter-spacing: .02em;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-weight: lighter;
}

.navbar-custom .navbar-nav .nav-item .nav-link:active{ color: var(--main-color); }

.navbar-custom .navbar-nav .nav-item .nav-link i{
    margin: 0 3px;
    font-size: 15px;
}

.navbar-custom .navbar-nav .nav-item .dropdown-toggle::after{
    margin: 0em;
    border: 0;
}

.navbar-custom .navbar-nav .nav-item .nav-link::after{
    content: "";
    width: 100%;
    height: 100%;
    border-bottom: 3px solid var(--main-color);
    position: absolute;
    top: 0;
    left: 130px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}


/* Header Img (Start) */

.header-img{
    height: 500px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: .7;
    position: absolute;
    z-index: 2;
}

.header-img .header-content{
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 30%;
    left: 0;
}

.header-img .header-content h2,
.header-img .header-content h1{
    text-transform: capitalize;
}

.header-img .header-content h2{
    color: var(--main-color);
}

/* Header Img (End) */

.navbar-custom .navbar-nav .nav-item .nav-link:hover::after{ left: 0; }

@media screen and (max-width: 991px){
    .navbar-custom .navbar-nav .nav-item .nav-link::after{
        display: none;
    }

    .navbar-custom .navbar-nav .nav-item .nav-link{
        text-align: center;
        margin-bottom: 10px;
    }
}

.dropdown-menu{
    border-bottom: 3px solid var(--main-color);
    background-color: #333;
}

.dropdown-menu .dropdown-item{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    /* text-align: center; */
    color: #fff;
}

.dropdown-menu .dropdown-item:hover{
    background-color: transparent;
    color: var(--main-color);
}

/* End (Navbar) */

p{
    text-align: right;
    font-family: var(--main-font);
    color: #444;
    font-size: 17px;
}

h1.main-heading{
    color: #fff !important;
    font-size: 34px;
    font-weight: 900;
}

h1{
    text-align: right ;
    font-family: var(--main-font);
    color: #333;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
}

h1 hr{
    margin-bottom: 40px !important;
    background-color: var(--main-color) !important;
    height: 1px !important;
    width: inherit !important;
}

h2{
    font-family: var(--main-font);
    font-size: 25px;
}

.main-btn{
    color: #fff;
    background-color: #222 !important;
    font-family: var(--main-font);
    font-size: 17px;
    font-weight: normal;
    border: 1px solid #fff;
    padding: 14px 35px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    letter-spacing: 0.02em;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.main-btn:hover{
    color: var(--main-color);
    background-color: #222 !important;
    border: 1px solid #fff !important;
}

.main-btn:focus{
    background-color: #222 !important;
    border: 1px solid #fff !important;
    box-shadow: none;
}

/* Start (Form-Design) */

form label{
    color: #444;
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: bold;
}

form label .asteriskField{
    font-size: 16px;
    color: crimson;
    margin: 0 3px;
}

form input,
form textarea,
form select{
    color: #333;
    font-size: 17px;
    font-family: var(--main-font);
    border: 1px solid #ccc !important;
    resize: none;
}

button[type="submit"]{
    display: block;
    margin: auto;
    color: #222;
    background-color: transparent !important;
    border: 1px solid #222 !important;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #222;
    padding: 9px 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    letter-spacing: 0.02em;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

button[type="submit"]:hover{
    background-color: #222 !important;
    color: #fff;
}

.add-button{

}

/* End (Form-Design) */

.fb-p{
    color: #333;
    font-size: 19px;
    font-family: var(--main-font);
    margin-bottom: 5px;
    text-align: center !important;
}

.fb-hr{
    margin-top: 0px;
    background-color: #ddd;
}

small.text-muted{
    text-align: right;
}

/* Start (Card-Design) */

.card{
    border: 1px solid #bbb;
}

h5.card-title{
    font-family: var(--main-font);
    color: #333;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    margin: 5px 0 20px 0;
}

h5.card-title::before{
    content:" - ";
    font-size: 20px;
    color: #444;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

h5.card-title:hover::before{
    margin-left: 9px;
}

.post-image{
    max-height: 100%;
}
.post a{
    text-decoration: none;
}

.post-detail{
    border-left: solid #ccc 1px;
}

@media screen and (max-width: 991px){
    .post-detail{
        border: none;
        border-bottom: solid #ccc 1px;
        margin-bottom: 40px !important;
    }
}

.post-main-image{
    height: 375px !important;
    width: 96%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid #a0a0a0;
    box-shadow: 0px 0px 10px inset #ccc;
}


/* End (Card-Design) */

/* Start (Post-Page) */

.publisher, .publish-date{
    color: #333;
    font-family: var(--main-font);
    font-size: 14.5px;
    font-weight: bold;
    margin: 10px 0;
}

.publisher::before, .publish-date::before{
    content: "-";
    color: #222;
    font-size: 15px;
}

.publisher strong, .publish-date strong{
    border-bottom: 2px solid var(--main-color);
    display: inline-block;
    color: #222;
    font-size: 14px;
    height: 19px;
    text-transform: capitalize;
    margin: 0 10px;
}

/* End (Post-Page) */

/* Start (Dashboard) */

section.dashboard{
    min-height: 350px;
}

section.dashboard h4{
    color: #444;
    font-weight: normal;
    font-family: var(--main-font);
    text-align: right;
    margin-bottom: 15px;
}

section.dashboard hr{
    background-color:#aaa;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    width: 19%;
    height: 0.2px;
}

section.dashboard p{
    color: #555;
    font-family: var(--main-font);
}

section.dashboard .btn-warning,
section.dashboard .btn-info,
section.dashboard .btn-danger{
    padding: 6px 15px;
    font-family: var(--main-font);
    margin: 0 5px;    
    background-color: transparent;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

section.dashboard .btn-info{
    border: 1px solid #138496;
    color: #138496;
}

section.dashboard .btn-info:hover{
    background-color: #138496;
    color: #fff;
}

section.dashboard .btn-danger{
    border: 1px solid #c82333;
    color: #c82333;
}

section.dashboard .btn-danger:hover{
    background-color: #c82333;
    color: #fff;
}

section.dashboard .add-button{
    border: 1px solid #555 !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
    color: #555 !important;
    margin: 7px 0 13px 0 !important;
    font-size: 17px;
    padding: 5px 10px;
    font-family: var(--main-font);
    background-color: transparent;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

section.dashboard .add-button i{ font-size: 15px; }

section.dashboard .add-button:hover{
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #333 !important;
    text-decoration: none;
}

section.dashboard table{
    margin-bottom: 40px;
}

section.dashboard table tr{
    overflow-x: auto;
}

section.dashboard table thead tr{
    background-color: #222;
}

section.dashboard table thead tr th{
    color: #fff;
    border: none;
}

section.dashboard table th,
section.dashboard table td{
    text-align: right;
    font-family: var(--main-font);
    color: #444;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

section.dashboard table .thead-dark th{
    font-weight: bold;
    color: #FFF;
    background-color: #222;
    font-family: var(--main-font);
}

section.dashboard table td a.btn{
    width: max-content;
}

/* End (Dashboard) */

/* Start (Students-Distribution) Page */ 

.dashboard-search{
    display: flex;
    margin-bottom: 30px;
}

.dashboard-search input{
    padding: 4px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #777 !important;
    flex: 1.8;
}

.dashboard-search button{
    padding: 5px 16px;
    font-size: 16px;
    border: 1px solid #444 !important;
    background-color: transparent;
    color: #444 !important;
    flex: .2;
}

.dashboard-search button:hover{
    background-color: #444 !important;
    color: #fff !important;
}

section.dashboard div.alert{
    text-align: center;
}

section.dashboard span.error-alert{
    font-size: 26px;
    margin-bottom: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: var(--main-font);
    color: #444;
    display: inline-block;
    padding: .4em 2em;
    background: #ffe4e4;
    border: 1px solid #f6b1b1;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

/* End (Students-Distribution) Page */

/* Start (Add-Student) */

.btn-test{
    text-align: center !important;
}

.btn-test button{
    font-size: 17px;
    border: 1px solid #444 !important;
    background-color: transparent !important;
    color: #444;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-test button:hover{
    background-color: #444 !important;
    border: 1px solid #444 !important;
}

/* End (Add-Student) */

#contact-id{
    text-align: right;
}

.more-height{
    height: 250px;
}

#sendMessageButton {
    background-color: #4c4c4c;
    border: solid 1px #FFF;
                    }
label{
    float: right;
}

.form-check{
    display: inline;
}

.form-check-input{
    position: static;
    float: right;
    margin-left: 0.3em;
}

.btn-test{
    width: 100%;
    text-align: right;
}
#id_content_iframe{
    display: block;
    width: 100%;
}

#id_content_iframe body{
    float:right;
}

/* Start (Printable Student-Details) */

.paper-borders{
    width: 100%;
    margin: auto;
    padding: 20px 0px 50px;
}

.paper-borders h1{
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 65px;
    color: #222;
}

.paper-borders table tr{ display: flex; }

.paper-borders table tr td{
    border-bottom: 1px solid #aaa;
    font-size: 21px;
    color: #444;
    text-align: right;
    font-family: var(--main-font);
    padding: 20px 17px;
    display: flex;
    flex: 1.5;
}

.paper-borders table tr td:nth-child(odd){
    font-weight: bold;
    color: #222;
    padding-right: 0px;
}

.paper-borders table tr:last-child td{
    border: none;
}

/* End (Printable Student-Details) */

.sub-form{
    height: 214px;
}

/* File Uploader plugin custom styles */
.fileuploader-input .fileuploader-input-button,
.fileuploader-items .fileuploader-item .fileuploader-item-icon,
.fileuploader-items .fileuploader-item .progress-bar2 .fileuploader-progressbar,
.fileuploader-popup .fileuploader-cropper,
.fileuploader-popup .fileuploader-cropper *,
.fileuploader-popup .fileuploader-popup-content .fileuploader-popup-button,
.fileuploader-popup .fileuploader-popup-content .fileuploader-popup-button.button-success,
.fileuploader-popup .fileuploader-popup-content .fileuploader-popup-tools li a,
.fileuploader-popup .fileuploader-popup-move, .fileuploader-popup .fileuploader-popup-node .fileuploader-popup-file-icon{
    background:linear-gradient(135deg,#5cff00 0,#102a2d69 100%) !important;
}

.fileuploader-input-caption span{
    color:#3C3C3C;
}

#div_id_main_image div{
    color:white;
}
#div_id_main_image label
{
    padding: 26px;
}
.column-title div{
    color:#3C3C3C !important;
}

/* Start (Exams Tables Styling) */
.tabel-row {
    background-color: #3498db1c;
    border-radius: 10px;
}
#add-new-form{
    background-color: #3498db54;
    border-radius: 10px;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-new-form span{
    font-size: 21px;
    font-weight: bold;
    color: #555;
    font-family: var(--main-font);
}

#add-new-form span i{
    font-size: 21px;
    color: #60b886;
}

#add-new-form span:hover{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;    
    -moz-transition: all 0.3s ease; 
    -o-transition: all 0.3s ease; 
    color: #111;
}

#add-new-form span:hover i{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transform: rotate(270deg);
}
#hidden-div{
    display: none;
}
/* End (Exams Tables Styling) */

/* classroom Schedule */
#schedules-tabel-id{
    display: none;
}
/* End Classroom Schedule */


/* Exams Tabel Ajax Styling */
#exams-tabel-id{
    display: none;
}
.exams-icon-div-id{
    display: none;
}
/* End Exams Tabel Ajax  */

/* Start (Footer) */

footer{
    margin-top: 50px;
}

footer ul{
    margin: auto;
    width: 40%;
}

footer ul li{
    text-align: right;
    margin-bottom: 10px;
}

footer ul li a{
    color: #ddd !important;
    font-family: var(--main-font);
    font-size: 17px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

footer ul li a:hover{
    color: #fff !important;
    text-shadow: 0px 0px 0px #fff;
}

footer p{
    color: #999;
    font-family: var(--main-font);
    font-size: 17px;
    text-align: center;
    margin-bottom: 0;
    text-transform: capitalize;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

@media screen and (max-width: 991px){
    footer ul li{
        float: left;
        text-align: center;
        margin: 0 10px 20px;
    }
}

footer p:hover{
    color: #fff;
}

footer p i{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

footer p:hover i{
    color: #d43131;
    font-size: 20px;
    padding-right: 4px;
    padding-left: 4px;
}

/* End (Footer) */
