
{% load get_lang_names %}
{% load i18n %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">

                {% trans 'Year' %}
            </th>
            <th scope="col">
                {% trans 'Semester' %}
            </th>
            <th scope="col">

                {% trans 'Type' %}
            </th>

            <th scope="col">

                {% trans 'Classroom' %}
            </th>
            <th scope="col">

                {% trans 'Last Editor'%}
            </th>
            <th scope="col">

                {% trans 'Last Modified Date' %}
            </th>
            <th scope="col">
                {% trans 'Control' %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for exam_tabel in qs %}
        <tr>
            <td>{{exam_tabel.year}}</td>
            <td>{{exam_tabel.semester|lang_semester}}</td>
            <td>{{exam_tabel.exam_type|lang_type}}</td>

            <td>{{exam_tabel.class_room.name}}</td>


            <td>

                {{exam_tabel.last_editor}}

            </td>

            <td>{{exam_tabel.updated}}</td>

            <td>
                <a href="{% url 'tabels:exams-tabels-edit' pk=exam_tabel.id %}" class="btn btn-info">
                    {% trans 'Edit' %}
                </a>
                <a href="{% url 'tabels:exams-tabels-delete' pk=exam_tabel.id %}" class="btn btn-danger">
                    {% trans 'Delete' %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>