{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if object %}
    {% if request.session.lang == 'ar' %}
    تعديل جدول حصص للفصل
    {{object.name}}
    {% else %}
    Edit classes schedule for {{object.name}} classroom
    {% endif %}
    {% else %}
    {% trans 'Add a new Classes schedule' %}
    {% endif %}
{% endblock  %}
{% block content %}
{% load crispy_forms_tags %}
<section>
    <div class="container">
        <div class="row table-row">
            <div class="col-md-8 m-auto">

                <h1 class="text-center">
                    {% if object %}
                    {% if request.session.lang == 'ar' %}
                    تعديل جدول حصص للفصل
                    {{object.name}}
                    {% else %}
                    Edit classes schedule for {{object.name}} classroom
                    {% endif %}
                    {% else %}
                    {% trans 'Add a new Classes schedule' %}
                    {% endif %}
                    <hr />

                </h1>

            </div>
            <div class="col-md-12">
                <form enctype="multipart/form-data" method="POST" id='add-post-form'>
                    {% csrf_token %}
                    <div class="row">
                        {% if  classroom_form %}
                        <div class="col-md-7">
                            {{classroom_form|crispy}}
                            <br />
                        </div>
                        <div class="col-md-4"></div>
                        {% endif %}


                        {{formset.management_form}}
                        {% for form in formset %}
                        <div class="col-md-4">
                            {{form|crispy}}

                            <br />
                            <hr />
                        </div>
                        {% endfor %}

                        <div id='hidden-div' class="col-md-4">
                            <div class='empty-form-div' id="empty-form-div">
                                {{formset.empty_form|crispy}}
                                <br />
                                <hr />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id='add-new-form'>
                                <span>{% trans 'Add more' %} <i class="fas fa-plus fa-lg"></i></span>

                            </div>
                        </div>
                    </div>
                    <div style="height:50px;">
                    </div>
                    <div class="btn-test">
                        <button class="btn btn-info add-post-btn" type="submit">
                            {% if object %}
                            {% trans 'Edit' %}
                            {% else %}
                            {% trans 'Add' %}
                            {% endif %}
                        </button>
                    </div>
                </form>
                <br />
            </div>
        </div>
    </div>
    {% block js %}

    <script src={% static 'js/dynamic_forms.js' %}></script>
    {% endblock %}
    {% endblock %}