{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if request.session.lang == 'ar' %}
    حذف الصف
    {{object.name}}
    {% else %}
    Delete {{object.name}} Class
    {% endif %}
{% endblock  %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">

                <h1 class="">
                    {% if request.session.lang == 'ar' %}
                    حذف الصف
                    {{object.name}}
                    {% else %}
                    Delete {{object.name}} Class
                    {% endif %}
                </h1>
            </div>
            <div class="col-md-8 m-auto">
                <form method="POST" id='add-post-form'>
                    {% csrf_token %}
                    <p class="lead">
                        {% trans 'Are you sure you want to delete this Class ?' %}
                        <hr />
                    </p>
                    <div class="btn-test">
                        <button class="btn btn-info add-post-btn" type="submit">
                            {% trans 'Delete' %}
                        </button>
                    </div>
                    <div style="height:100px;"></div>
                </form>
                <br />
            </div>
        </div>
    </div>
    {% endblock %}