{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if request.session.lang == 'ar' %}
    حذف مادة
    {{object.get_name}}
    {% else %}
    {{object.get_name}}
    Delete
    {% endif %}
{% endblock  %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">

                <h1 class="">
                    {% if request.session.lang == 'ar' %}
                    حذف مادة
                    {{object.get_name}}
                    {% else %}
                    {{object.get_name}}
                    Delete
                    {% endif %}
                </h1>
            </div>
            <div class="col-md-7 m-auto">
                <form method="POST" id='add-post-form'>
                    {% csrf_token %}

                    <p class="lead">
                        {% if request.session.lang == 'ar' %}
                        هل أنت متأكد أنك تريد حذف مادة
                        {{object.name}} ؟
                        {% else %}
                        Are you sure you want to delete
                        {{object.en_name}}
                        Subject ?
                        {% endif %}
                        <hr />
                    </p>
                    <div class="btn-test">
                        <button class="btn btn-info add-post-btn" type="submit">
                            {% trans 'Delete' %}
                        </button>
                    </div>
                    <div style="height:100px;"></div>
                </form>
                <br />
            </div>
        </div>
    </div>
    {% endblock %}