<footer class="py-5 bg-black">
    <!-- <div class="container">
        <p class="m-0  text-white small">
            <span class="text-right">
                Copyright &copy; MasterBDX 2020
                <br />
                هذا الموقع صنع بال <i class="fas fa-heart"></i>بواسطة
                MasterBDX
            </span>
            <span class="text-left">
                hello world
            </span>
        </p>

    </div> -->
    <!-- /.container -->
    <div class="row">
        <div class="col-md-6 text-center">

            <p>Copyright &copy; MasterBDX 2020</p>
            
            <p class>
             هذا الموقع صنع بال <i class="fas fa-heart"></i> بواسطة
                MasterBDX
            </p>

        </div>
        <div class="col-md-6 text-center">

            <ul class="list-unstyled">
                <li><a href="{% url 'main:about_us' %}">حول المدرسة</a></li>
                <li><a href="{% url 'main:contact' %}">للتواصل</a></li>
            </ul>

        </div>
    </div>
</footer>