{% load i18n %}
{% load static %}
<header style="background-image: url({% static 'img/school.jpg' %});
                background-size: cover;" class="header-img">
    <div class="overlay"></div>
    <div class="container">
        <div class="header-content text-center">
            <h2 class="h2 text-center">
                {% trans 'Welcome to' %}
            </h2>
            <h1 class='h1 text-center main-heading'>

                {% if request.session.lang == 'ar' %}
                مدرسة
                {{school_name}}
                {% else %}
                {{school_name}}
                School
                {% endif %}

            </h1>
            <a href="{% url 'main:about_us' %}" class="main-btn btn btn-primary btn-xl rounded-pill mt-5">
                {% trans 'About School' %}
            </a>
        </div>
</header>