{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand " href="{% url 'main:home' %}">
          {{school_name}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav  mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'posts:list' %}">
                        <i class="fas fa-newspaper"></i>

                        {% trans 'Latest News' %}

                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-graduate"></i>
                        {% trans 'Students' %}

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'main:result-search' %}">
                            {% trans 'Browse Results' %}
                        </a>

                        <a class="dropdown-item" href="{% url 'main:students-list' %}">
                            {% trans  'Students List' %}
                        </a>

                        <a class="dropdown-item" href="{% url 'tables:exams-table-detail' %}">
                            {% trans 'Exam Schedules' %}
                        </a>

                        <a class="dropdown-item" href="{% url 'tables:schedule-detail' %}">
                            {% trans 'Class Schedules' %}
                        </a>
                    </div>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cogs"></i>
                        {% trans 'Dashboard' %}

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'main:posts-dashboard' %}">

                            {% trans 'Posts' %}
                        </a>
                        <a class="dropdown-item" href="{% url 'main:subjects-dashboard' %}">
                            {% trans 'Subjects' %}

                        </a>
                        <a class="dropdown-item" href="{% url 'main:exams-dashboard' %}">
                            {% trans 'Exam Schedules' %}


                        </a>
                        <a class="dropdown-item" href="{% url 'main:classes-table-dashboard' %}">
                            {% trans 'Class Schedules' %}

                        </a>
                        <a class="dropdown-item" href="{% url 'main:classes-dashboard' %}">
                            {% trans 'Classes' %}

                        </a>
                        <a class="dropdown-item" href="{% url 'main:classrooms-dashboard' %}">
                            {% trans 'Classrooms' %}

                        </a>
                        <a class="dropdown-item" href="{% url 'main:students-classrooms-dashboard' %}">
                            {% trans 'Students & Results' %}

                        </a>

                    </div>
                </li>
                {% endif %}
                {% if request.user.is_admin %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-cog"></i> {% trans 'Admin' %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="{% url 'main:school-info-edit' %}">

                            {% trans 'School Info' %}
                        </a>
                        <a class="dropdown-item" href="{% url 'main:main-articles-dashboard' %}">
                            {% trans 'Change Quotes' %}

                        </a>
                        <a class="dropdown-item" href="{% url 'main:users-dashboard' %}">

                            {% trans 'Users' %}
                        </a>
                        <a class="dropdown-item" href="{% url 'accounts:register' %}">

                            {% trans 'Add User' %}
                        </a>
                    </div>
                </li>
                {% endif %}
                {% if not request.user.is_authenticated %}

                {% url 'accounts:login' as login %}
                {% if not login == request.path %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">
                        <i class="fas fa-sign-in-alt"></i>
                        {% trans 'Login' %}
                    </a>
                </li>
                {% endif %}
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> {{request.user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'accounts:profile_edit' pk=request.user.id %}">

                            {% trans 'Profile' %}
                        </a>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                            {% trans 'Logout' %}


                        </a>
                    </div>
                </li>

                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-language"></i>
                        {% trans 'Language' %}

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            href="{% url 'main:lang-change' lang='ar' %}?next={{request.get_full_path}}">
                            {% trans 'Arabic' %}
                        </a>
                        <a class="dropdown-item"
                            href="{% url 'main:lang-change' lang='en' %}?next={{request.get_full_path}}">
                            {% trans 'English' %}
                        </a>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</nav>