{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
    {% include 'snippets/meta_tags.html' %}

    <title>

        {% block title %} {% endblock %}
    </title>
    {% include 'snippets/css.html' %}
</head>

<body>
    {% block index %}

    {% endblock %}
    {% block content %}

    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    {% include 'snippets/js.html' %}

    {% block js %}
    {% endblock %}
    {% include 'snippets/footer.html' %}
</body>

</html>