{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load i18n %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <h1 class="">
                    {% if request.session.lang == 'ar' %}
                    حذف جدول الحصص للفصل
                    {{classroom_name}}
                    {% else %}
                    Delete {{classroom_name}} Classroom
                    {% endif %}
                </h1>
            </div>
            <div class="col-md-9">
                <form method="POST" id='add-post-form'>
                    {% csrf_token %}
                    <p class="lead">
                        {% trans 'Are you sure you want to delete classes schedule for this classroom ?' %}
                        <hr />
                    </p>
                    <div class="btn-test">
                        <button class="btn btn-info add-post-btn" type="submit">
                            {% trans 'Delete' %}
                        </button>
                    </div>
                    <div style="height:100px;"></div>
                </form>
                <br />
            </div>
        </div>
    </div>
    {% endblock %}