{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load get_student_filters %}
{% load i18n %}
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-7 m-auto">

                <h1 class="text-center">
                    {% trans 'Exam Schedules' %}
                    <hr />
                </h1>
            </div>
            <div id='exams-div-id' class="col-md-12">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <form id='exams-tabel-search-form'>

                            {{form|crispy}}
                            <input type="hidden" id='lang-input-id' name='lang' value='{{request.session.lang}}' />
                            <button type="submit">
                                {% trans 'Find' %}
                            </button>
                        </form>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div id='exams-icon-div-id' class='exams-icon-div-id col-md-9 m-auto text-center'>
                <i class="fas fa-spinner fa-pulse fa-2x "></i>
            </div>
            <div id='exams-tabel-id' class="col-md-9 m-auto">

            </div>
        </div>
    </div>
</section>
{% endblock %}